@use "global" as *;

.footer {
  background: $accent-color;
  color: $white;
  padding-top: rem(48);
  padding-bottom: rem(56);

  @include mq("md") {
    padding-top: rem(78.4);
    padding-bottom: 5rem;
  }
}

.footer__inner.inner {
  @include mq("md") {
  }
}

.footer__flex {
  @include mq("md") {
    display: flex;
    gap: rem(40);
    align-items: flex-end;
    display: inline-block;
  }
}

.footer__logo {
  width: rem(120);
  height: rem(45);

  @include mq("md") {
    width: rem(200);
    height: rem(75);
    display: inline-block;
  }
}

.footer__sns {
  padding-top: rem(16);

  @include mq("md") {
    padding-top: 0;
    margin-left: rem(36);
  }
}

.footer__sp-nav {
  color: $white;

  @include mq("md") {
    display: flex;
  }
}

.footer__copy-text {
  font-size: rem(12);
  font-weight: $regular;
  line-height: calc(18 / 12);
  text-align: center;
  font-family: $title-font-family;

  @include mq("md") {
    text-align: center;
    margin-top: rem(75.2);
    font-size: rem(14);
    line-height: calc(18 / 14);
    letter-spacing: 0.01em;
  }
}
