@use "global" as *;

/* pcナビ
------------------------------------- */

.pc-nav {
  height: inherit;
  display: none;

  @include mq("md") {
    display: block;
  }
}

.pc-nav__items {
  height: inherit;
  display: flex;
  // align-items: center;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item:first-child {
  padding-left: 0;
}

.pc-nav__item:nth-child(3) {
  letter-spacing: 0.05em;
}

.pc-nav__item:last-child {
  padding-right: 0;
}

.pc-nav__item a {
  height: inherit;
  color: $white;
  // 上下のaタグ領域を確保
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: rem(18);
  justify-content: center; /* Align items vertically */
  position: relative;
  font-family: $title-font-family;
  padding-left: rem(20);
  padding-right: rem(20);
}

// 最後のaタグのみ右側の余白を除く
// .pc-nav__item:last-child a {
//   padding-right: 0;
// }

.pc-nav__item a span {
  width: 100%;
  font-size: rem(10);
  line-height: calc(15 / 10);
  display: inline-block;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.pc-nav__item a span:after {
  content: "";
  position: absolute;
  bottom: rem(-4);
  left: 0;
  width: 100%;
  height: rem(1);
  // // 透明のバーがついている
  background: transparent;

  transition: all 0.3s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: center top; /*上部中央基点*/
}

.pc-nav__item a:hover span::after {
  background: $white;

  transform: scale(1, 1); /*X方向にスケール拡大*/
}

// ホバー時に字を透過させない
.pc-nav__item a span:hover {
  opacity: 1;
  transition: 1s;
}
