@use "global" as *;


.scroll-button {
  display: none; /* 初期状態ではボタンを非表示にする */
  @include mq("md") {
    width: rem(80);
    height: rem(80);
    border: none;


    cursor: pointer;
    display: inline-block;
  }
}





