@use "global" as *;

.section-header {
  text-align: center;
}

.section-header--campaign {
}

.section-header__title {
  font-family: $title-font-family;
  font-size: rem(32);
  color: $green;
  line-height: calc(40 / 32);
  font-weight: $regular;
  letter-spacing: 0;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-header__title--lg {
  line-height: 1;
  margin: 0 -2.666vw;
  max-width: rem(315);
  width: 100%;

  @include mq("md") {
    text-align: center;
    display: inline-block;
  }
}

.section-header__title--lg.section-header__title {
  font-size: rem(80);
  line-height: 1;
}

.section-header__title::first-letter {
  color: $accent-color;
}
.section-header__title--white {
  @include mq("md") {
    color: $white;
  }
}

.section-header__title--white::first-letter {
  @include mq("md") {
    color: $white;
  }
}

.section-header__text {
  font-family: $base-font-family;
  font-size: rem(12);
  line-height: calc(18 / 12);
  color: $accent-color;
  // text-align: center;
  padding-top: rem(4);
  font-weight: $regular;
   @include mq('md') {
   padding-top: rem(8);
   }
}

.section-header__text--white {
  @include mq("md") {
    color: $white;
  }
}

.section-header__text--contact {
  padding-top: 0;
  line-height: 1;
  margin-top: rem(-2);
}
