@use "global" as *;

.swiper-mv {
  /* スライダー全体の高さを100vhに設定 */
  height: 100vh;
}
.swiper-mv.swiper-wrapper {
  height: 100%;
  width: auto;
}

.swiper-mv.swiper-wrapper.swiper-slide {
  height: 100%;
  /* フレックスボックスを使用してスライドを中央に配置 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

picture {
  height: 100%;
  display: inline-block;
  width: 100%;
}

// .swiper-mv.swiper-wrapper.swiper-slide.picture img {
//   /* 画像を100%の高さに合わせ、横幅は自動調整 */
//   height: 100%;
//   width: auto;
//   object-fit: cover;
//   object-position: center center;
// }

.swiper-mv .swiper-slide {
  height: 100%; /* 親要素の高さを100%に指定 */
}

.swiper-mv .swiper-slide img {
  height: 100%; /* imgタグの高さを親要素に合わせる */
  width: 100%; /* もし必要ならば、幅も100%に指定する */
  object-fit: cover; /* 画像を親要素に合わせて表示する */
  object-position: center center;
}
