@use "global" as *;
.top-campaign__inner {
  position: relative;
}

.top-campaign__inner.inner {
  @include mq("md") {
    max-width: 1285px;
    margin-right: 0;
    padding-right: 0;
  }
}

.top-campaign {
  margin-top: rem(50);
  @include mq("md") {
    margin-top: rem(120);
  }
}
