@use "global" as *;

.top-about {
}

.top-about__wrapper {
  max-width: rem(600);
  width: 100%;
  display: flex;
  position: relative;

  @include mq("md") {
    display: inline-block;
  }
}




// .top-about__image1 {
//   width: 34.13333vw;
//   z-index: 1;
// position: absolute;
// top: 0;
// left: 0;
// }

.top-about__image1 img {
  width: 100%;
  object-fit: cover;
  // aspect-ratio: 128 / 194;
  height: auto;
}

.top-about__image2 {
  padding-top: rem(80);
  width: 74.93333vw;

  aspect-ratio: 281 / 186;
}

.top-about__image2 img {
  width: 100%;
  object-fit: cover;

  height: auto;
}

.top-about__box {
  margin-top: rem(50);
}

.top-about__title {
  font-size: rem(40);
  letter-spacing: 0.04em;
  font-family: $title-font-family;
  color: $accent-color;
  line-height: 1;
}

.top-about__text {
  font-size: rem(16);
  line-height: calc(24 / 16);
}

.top-about__button {
  margin-top: rem(40);
  text-align: center;
}
