@use "global" as *;

.top-blog {
  @include mq("md") {
    position: relative;
  }
}


// デコ

.top-blog__deco {
  max-width: rem(376.51);
  width: 26.111vw;
  height: auto;
  position: absolute;
  top: min(2vw, rem(100));
  // bottom: -6.2vw;
  z-index: 5;

  left: calc(50% - min(45vw, rem(620)));
}

.top-blog::before {
  @include mq("md") {
    content: "";
    display: inline-block;
    height: rem(500);
    background-image: url(../../assets/images/common/blog-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: -10;
  }
}

.top-blog__inner.inner {
  width: 100%;
  padding-right: rem(20);
  padding-left: rem(20);

  @include mq("md") {
    padding-right: rem(25);
    padding-left: rem(25);
  }
}

.top-blog__wrapper {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.top-blog__button {
  margin-top: rem(39.68);
  text-align: center;
  position: relative; /* 追加 */

  @include mq("md") {
    margin-top: rem(80);
  }
}
