@use "global" as *;

.top-blog {
  padding-top: rem(80);

  @include mq("md") {
    padding-top: rem(100);
  }
}

.top-blog__bg {
  @include mq("md") {
    position: relative;
    width: 100%;
    z-index: -5;
  }
}

.top-blog__bg::before {
  @include mq("md") {
    content: "";
    max-height: 500px; /* 最大の高さを500pxに設定 */
    height: 34.7222vw;
    background-image: url(../../assets/images/common/blog-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    width: inherit;
    position: absolute;
  }
}

.top-blog__inner.inner {
  width: 100%;

  @include mq("md") {
    max-width: rem(1130);
  }
}

.top-blog__wrapper {
  margin-top: rem(30);
  @include mq("md") {
    display: flex;
    margin-top: rem(80);
    flex-wrap: wrap;
  }
}



.top-blog__item:nth-child(n + 2) {
  margin-top: 40px;
  @include mq("md") {
    margin-top: 0;

  }
}

.top-blog__item:nth-child(n + 4) {
  @include mq("md") {
    margin-top: 40px;
  }
}


.top-blog__item:not(:nth-child(3n)) {
  @include mq("md") {
    margin-right: rem(40);
  }
}

.top-blog__button {
  margin-top: rem(39.68);
  text-align: center;
  position: relative; /* 追加 */

  @include mq("md") {
    margin-top: rem(80);
  }
}
