@use "global" as *;

.top-contact {
  padding-top: rem(80);
  padding-bottom: rem(97.6);
  overflow-x: hidden;
}

.top-contact__inner.inner {
  padding-right: rem(40);
  padding-left: rem(40);
}

// デコ sp
.top-contact__deco-sp {
  position: absolute;
  width: rem(109);
  height: rem(50);
  right: 4vw;
  margin-top: rem(-27.2);
}
// デコ sp
.top-contact__deco-pc {
  position: absolute;
  width: rem(301);
  height: rem(138);
  right: -8vw;
  top: -2vw;
}

.top-contact__wrapper {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
    padding-top: rem(80);
    padding-bottom: rem(80);
    padding-right: rem(112);
    padding-left: rem(50);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
  }
}

.top-contact__left,
.top-contact__right {
  @include mq("md") {
    width: calc(50% - 163px / 2);
  }
}

.top-contact__logo {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-bottom: 1px solid $accent-color;
  text-align: center;
}

.top-contact__logo img {
  width: rem(174);
  height: auto;
  aspect-ratio: 174 /65;
  display: inline-block;

  @include mq("md") {
    width: rem(200);
  }
}

.top-contact__flex-pc {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
  }
}

.top-contact__contact p:not(:last-child) {
  display: inline-block;
  margin-right: rem(6);

  @include mq("md") {
  }
}

.top-contact__contact p:not(:first-child):not(:last-child) {
  margin-top: rem(4);
}

.top-contact__contact {
  text-align: center;
  color: $green;
  font-size: rem(16);
  line-height: calc(24 / 16);
  padding-top: rem(14.4);

  @include mq("md") {
    width: calc(50% - 21px / 2);
  }
}

.top-contact__image {
  margin-top: rem(16);
  aspect-ratio: 295/160;
  object-fit: cover;
  height: auto;
  width: 100%;

  @include mq("md") {
    width: calc(50% - 21px / 2);
  }
}

.top-contact__image img {
  height: auto;
}

.top-contact__line {
  @include mq("md") {
    position: absolute;
    left: 50%; /*横位置の指定*/
    top: 50%; /*縦位置の指定*/
    background: $accent-color; /*線の色指定*/
    width: 1px; /*線の幅指定*/
    height: 61.444%; /*線の高さ指定*/
    transform: translate(-50%, -50%);
  }
}

.top-contact__right {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: 0;
  }
}

.top-contact__link {
  text-align: center;
  margin-top: rem(6);
}

.top-contact__link a {
  color: $accent-color;
  display: inline-block;
  letter-spacing: 0;
  font-size:  rem(14);
}

.top-contact__button {
  margin-top: rem(40);
  text-align: center;
}
