@use "global" as *;

.top-info {
  background: #ddf0f1;
  @include mq("md") {

  }
}

.top-info__wrapper {
  margin-top: rem(30.4);
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(40);
  }
}

.top-info__image {
  width: 100%;
  aspect-ratio: 345 / 227;
  max-width: rem(600);
  margin: 0 auto;
  position: relative;

  @include mq("md") {
    width: 50%;
    margin: 0;
  }
}

.top-info__image img {
  width: 100%;
  height: 100%;
}

/* アニメーション */
div.top-info__image div.color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #408f95;
}

div.top-info__image img {
  display: block;
  width: 100%;
}

.top-info__contents {
  margin-top: rem(24);

  @include mq("md") {
    width: calc(50% - rem(48));
    margin-top: 0;
  }
}

.top-info__title {
  font-size: rem(20);
  line-height: calc(24 / 20);
  font-weight: bold;
  color: $green;
  padding-bottom: rem(4);
  border-bottom: 1px solid $accent-color;

  @include mq("md") {
    font-size: rem(24);
    line-height: 1;
    padding-bottom: rem(8);
  }
}

.top-info__contents p {
  font-size: rem(16);
  line-height: calc(24 / 16);
  color: $green;
  margin-top: rem(8);

  @include mq("md") {
    padding-top: 0;
  }
}

.top-info__button {
  text-align: center;
  margin-top: rem(40);
}
