@use "global" as *;

.top-contact {


}

.top-contact__inner.inner {


  @include mq("md") {

  }
}

// デコ sp
.top-contact__deco-sp {
  position: absolute;
  width: rem(109);
  height: rem(50);
  right: 4vw;
  margin-top: rem(-27.2);
}
// デコ sp
.top-contact__deco-pc {
  position: absolute;
  width: rem(301);
  height: rem(138);
  top: -2.8vw;
  right: calc(50% - min(50vw,  rem(670)));
}

.top-contact__wrapper {
  @include mq("md") {
    display: flex;

    justify-content: space-between;
    width: 100%;
    padding-top: rem(80);
    padding-bottom: rem(80);
    padding-right: rem(112);
    padding-left: rem(50);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
  }
}

.top-contact__left {
  padding-right: rem(25);
  padding-left: rem(25);
  @include mq("md") {
    width: calc(440 / 918 * 100%);
    padding-right:0;
    padding-left: 0;
  }
}
.top-contact__right {
  margin-top: rem(36.8);
  @include mq("md") {
    width: calc(315 / 918 * 100%);
    margin-top: 0;
  }
}

.top-contact__logo {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-bottom: 1px solid $accent-color;
  text-align: center;

  @include mq("md") {
    padding-bottom: rem(1);
  }
}

.top-contact__logo img {
  width: rem(174);
  height: auto;
  aspect-ratio: 174 /65;
  display: inline-block;

  @include mq("md") {
    width: rem(200);
  }
}

.top-contact__flex-pc {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    margin-top: rem(8);
  }
}

.top-contact__contact p:first-child {
  display: inline-block;
  padding-right: rem(10);

  @include mq("md") {
  }
}

.top-contact__contact p:not(:last-child) {
  display: inline-block;
  margin-right: 0;

  @include mq("md") {
  }
}

.top-contact__contact p:not(:first-child):not(:last-child) {
  margin-top: rem(4);
}

.top-contact__contact {
  text-align: center;
  color: $green;
  font-size: rem(16);
  line-height: calc(24 / 16);
  padding-top: rem(16);

  @include mq("md") {
    width: calc(170 / 440 * 100%);
    text-align: left;
  }
}

.top-contact__image {
  margin-top: rem(16);
  aspect-ratio: 295/160;
  object-fit: cover;
  height: auto;
  width: 100%;

  @include mq("md") {
    width: calc(273 / 440 * 100%);
  }
}

.top-contact__image iframe{
  height: 100%;
  width: 100%;
}

.top-contact__line {
  @include mq("md") {
    position: absolute;
    left: 53%; /*横位置の指定*/
    top: 50%; /*縦位置の指定*/
    background: $accent-color; /*線の色指定*/
    width: 1px; /*線の幅指定*/
    height: 61.444%; /*線の高さ指定*/
    transform: translate(-50%, -50%);
  }
}



.top-contact__link {
  text-align: center;
  margin-top: rem(6);
}

.top-contact__link a {
  color: $accent-color;
  display: inline-block;
  letter-spacing: 0;
  font-size: rem(14);
}

.top-contact__button {
  margin-top: rem(40);
  text-align: center;
}
