@use "global" as *;
.top-campaign__inner {

}



.top-campaign {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(118);
    position: relative;
  }
}

/* 前後の矢印
------------------------------------- */

.top-campaign__prev{
  @include mq("md") {
    position: absolute;
    content: "";
    left: calc(50% + 20.8vw);
    top:  rem(25);
    opacity: 1;
  }
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  opacity: 1;
}

.top-campaign__next{
  @include mq("md") {
    position: absolute;
    content: "";
    right: calc(50% - 37.5vw);
    top: rem(25);
  }
}